<p>The Gallows is like the classic game of Hangman. This is how it works:</p> 
<ul>
	<li>- You are presented with an <b>unknown word</b>.</li>
	<li>- One or more letters may be visible, but the rest will be hidden. This is called a <b>clue</b>.</li>
	<li>- You try to <b>guess</b> the word, letter by letter.</li>
	<li>- You only have a limited number of <b>wrong guesses</b>.</li>
	<li>- You <b>win</b> if you can guess the entire word. You <b>lose</b> if you guess wrong too many times before getting the entire word.</li>
	<li>- When you win, you get a point for each correctly guessed letter, as well as a point for each remaining wrong guess (therefore, the longer the word and the less wrong choices you make the more points you will get). These points are added to your <b>score</b>.</li>
	<li>- When your score is high enough you will start playing at the <b>next level</b>. Words will be longer and clues fewer.</li>
	<li>- The players with the <b>highest scores</b> can be seen on the Leaderboard (coming soon).</li>
</ul>
<br />
<a href='/'>p</a>) Play