<h1>Gallows Help</h1>
<p>Gallows is like the classic game of Hangman.</p>
<ul>
	<li>You are presented with an unknown word. One or more letters may be visible, but the rest will be hidden.</li>
	<li>You try to guess the word, letter by letter</li>
	<li>You only have a limited number of wrong guesses.</li>
	<li>You <b>win</b> if you can guess the entire word. You <b>lose</b> if you guess wrong too many times before getting the entire word.</li>
</ul>


<br />
<br />
<a href='/'>p</a>) Play