<html>
<body>
	<div>
		<h1>The Gallows</h1>
	</div>
	<div>
		<%= yield %>
	</div>
	<br />	
	<br />
	<!--<div>
		More Mxit: <a href="mxit://[memeforge]/" type="mxit/service-navigation">Make your photos more awesome with MemeForge!</a> | <%= @mixup_ad %>
	</div>
	<br />
	<div>
		<mxit:advert auid="364282"/>
	</div>
	<div>
		<a href="/">s</a>) New search | <a href="/feedback">f</a>) Feedback
	</div>-->
</body>
</html>