<html>
<body>
	<div>
		<h1>The Gallows</h1>
	</div>
	<div>
		<%= yield %>
	</div>
	<br />
	<div>
		<a href="mxit://[communityportal:Refresh]/ReferralPage?ItemId=8215822" type="mxit/service-navigation">Add text to your photos with MemeForge!</a> | <%= @mixup_ad %>
	</div>
	<br />
	<div>
		<mxit:advert auid="364282"/>
	</div>
</body>
</html>