<html>
<body>
	<div>
		<mxit:advert auid="396526"/>
	</div>	
	<div>
		------
	</div>
	<br />	
	<div>
		<h1>The Gallows</h1>
	</div>
	<div>
		<%= yield %>
	</div>
	<br />
	<div>
		------
	</div>
	<br />
	<div>
		<a href='mxit://[communityportal]/RecommendPage?ItemId=9786245' type="mxit/service-navigation">Click to share this app with friends! :-)</a>
	</div>
	<br />			
	<div>
		More Mxit: Try <a href="mxit://[communityportal:Refresh]/ReferralPage?ItemId=10742327" type="mxit/service-navigation">PhotoForge</a>, a brand new app that allows you to make your photos awesome by applying a wide variety of filters to them! | <%= @mixup_ad %>
	</div>
	<br />
	<div>
		<mxit:advert auid="401695"/>
	</div>	
</body>
</html>